*{
    box-sizing: border-box;
}

header, nav, main, aside, footer{
    padding: 10px;
    background-color: purple;
    color: #fff;
    text-transform: uppercase;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}

body{
    margin: 0;
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'nav main main main aside aside'
    'nav footer footer footer footer footer';
    gap: 10px;
}

@media(max-width: 576px){
    body{
        grid-template-areas: 
        'header header header header header header'
        'nav nav nav nav nav nav'
        'main main main main main main'
        'aside aside aside aside aside aside'
        'footer footer footer footer footer footer';
    }
}